# Analyzing Birmingham Parking data
http://archive.ics.uci.edu/ml/datasets/Parking+Birmingham#

In [1]:
import pandas as pd

## Initialization

In [2]:
train=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/00482/dataset.zip',
                 compression='zip')
train.head()

  SystemCodeNumber  Capacity  Occupancy          LastUpdated
0      BHMBCCMKT01       577         61  2016-10-04 07:59:42
1      BHMBCCMKT01       577         64  2016-10-04 08:25:42
2      BHMBCCMKT01       577         80  2016-10-04 08:59:42
3      BHMBCCMKT01       577        107  2016-10-04 09:32:46
4      BHMBCCMKT01       577        150  2016-10-04 09:59:48

In [3]:
train.describe()

           Capacity     Occupancy
count  35717.000000  35717.000000
mean    1397.550130    642.228911
std     1179.326833    656.955535
min      220.000000     -8.000000
25%      500.000000    210.000000
50%      849.000000    446.000000
75%     2009.000000    798.000000
max     4675.000000   4327.000000